@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {
	@font-face {
		font-family: "Louis George Cafe";
		font-weight: normal;
		src: url("/font/Louis-George-Cafe.ttf") format("truetype");
	}
	@font-face {
		font-family: "Louis George Cafe";
		font-weight: 100;
		src: url("/font/Louis-George-Cafe-Light.ttf") format("truetype");
	}
	@font-face {
		font-family: "Louis George Cafe";
		font-weight: bold;
		src: url("/font/Louis-George-Cafe-Bold.ttf") format("truetype");
	}

	* {
		scrollbar-width: thin;
	}
}

#svelte {
	font-family: "Louis George Cafe", sans-serif;
	background: linear-gradient(
		to top right,
		theme("colors.blue.400"),
		theme("colors.purple.700"),
		theme("colors.yellow.600")
	);
	@apply h-screen text-white grid overflow-hidden;
}
.look-like-hexcells #svelte {
	background: #2b2b2b;
}
.look-like-hexcells .btn {
	--btn-bg-color-1: theme("colors.blue.400");
	--btn-bg-color-2: theme("colors.blue.700");
	--btn-bg-color-3: theme("colors.blue.300");
	--btn-bg-color-4: theme("colors.blue.500");
}
main {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	overflow-x: hidden;
	overflow-y: auto;
}
